:root{

    --primary:#2563eb;
    --secondary:#1e293b;

    --background:#f8fafc;
    --surface:#ffffff;

    --text:#1f2937;
    --text-light:#64748b;

    --border:#e5e7eb;

    --success:#16a34a;
    --warning:#f59e0b;
    --danger:#dc2626;

    --radius:12px;

    --shadow:0 8px 24px rgba(0,0,0,.08);

}